doctype html
html
  head 
    //- stylesheet
    link(rel ="stylesheet" href="public/css/style.css")
    //- in file
    style.
      h1 {color: red; text-align: center;
        padding: 10px 10px;
      }
    title include 

  body
  
    h1 PUG - Include partials/navbar in html file
    include partials/navbar
